DATABASE_URL="postgresql://usuario:senha@localhost:5433/revizzi_blog?schema=public"
JWT_SECRET="troque-por-uma-chave-super-secreta-com-32-caracteres"
JWT_EXPIRES_IN="7d"
PORT=3333
CORS_ORIGIN="http://localhost:5173"
NODE_ENV=development