.card img {
    width: 100%;
}

.fundo-banner {
    background-image: url(../imagens/agendamento.jpg);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

#fundo-form {
    padding: 20px;
    border-radius: 8px;
    
}
.sobre {
    background-image: url(../imagens/fundo-azul-do-gradiente-de-luxo-abstrato-liso-azul-escuro-com-vinheta-preta-studio-banner.jpg);
    opacity: 0.9;
    background-position: cover;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 150px;
}