.card img {
    width: 100%;
}

.fundo-banner {
    background-image: url(../imagens/agendamento.jpg);
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 80px;
}

#fundo-form {
    padding: 20px;
    border-radius: 8px;
    
}
